[user]
	email = joshuacelliott@gmail.com
	name = Joshua Elliott

[core]
	editor = vim
	# pager = delta
	excludesfile = ~/.gitignore_global
	ignorecase = false
	attributesfile = ~/.gitattributes

[diff]
	algorithm = patience
	colorMoved = default

[interactive]
	diffFilter = delta --color-only

[color]
	ui = auto

[push]
	default = simple

[merge]
	tool = vimdiff
	conflictstyle = diff3

[mergetool "vimdiff"]
	trustExitCode = false

[delta]
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	syntax-theme = base16
	true-color = never # this is needed for VSCode's integrated terminal to render correctly

[github]
	user = jcelliott

[log]
	decorate = short

[alias]
  log-detail = log --all --stat --graph
  log-branch = log --stat --graph
  ; log-summary = log --all --graph --oneline
  log-summary = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  revision = rev-parse HEAD
  rev = rev-parse --short HEAD
  untracked = ls-files --others

