[user]
	email = joshuacelliott@gmail.com
	name = Joshua Elliott

[core]
	editor = vim
	excludesfile = ~/.gitignore_global

[color]
	ui = auto

[push]
	default = simple

[merge]
	tool = vimdiff

[mergetool "vimdiff"]
	trustExitCode = false

[github]
	user = jcelliott

[log]
	decorate = short

[alias]
  log-detail = log --all --stat --graph
  ; log-summary = log --all --graph --oneline
  log-summary = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  revision = rev-parse HEAD
  rev = rev-parse --short HEAD
