[submodule ".zsh/plugins/antigen"]
	path = .zsh/plugins/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule ".local/share/virtualfish"]
	path = .local/share/virtualfish
	url = https://github.com/adambrenecki/virtualfish.git
[submodule ".vim/vim-plug"]
	path = .vim/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule ".config/base16-gnome-terminal"]
	path = .config/base16-gnome-terminal
	url = git@github.com:chriskempson/base16-gnome-terminal.git
[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
